<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	
     <context:component-scan base-package="com.bbva.log4j.controller" /> 
    
	<bean id="genericIbatisDao"	class="com.bbva.persistencia.generica.dao.impl.GenericIbatisDaoImpl">
		<property name="dataSource" ref="dataSource" />
<!-- 		<property name="sqlMapClient" ref="sqlMapClient" /> -->
	</bean>

	<bean id="genericDao" class="com.bbva.persistencia.generica.dao.GenericDao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory" />
<!-- 		<property name="genericIbatisDao" ref="genericIbatisDao"/> -->
	</bean>

	<bean id="genericoDao" class="com.bbva.persistencia.generica.dao.GenericoEspecificoDao" parent="genericDao"/>
	

</beans>